<h1>
  Cadastro de Produtos
</h1>

<form #create="ngForm" (ngSubmit)="onSubmit(create)" novalidate class="mt-3">
  <div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="product.name" required>
  </div>
  <div class="mb-3">
    <label for="codigoBarras" class="form-label">Código de barras</label>
    <input type="text" class="form-control" name="codigoBarras" id="codigoBarras" [(ngModel)]="product.codigoBarras" required>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Preço</label>
    <input class="form-control" name="price" id="price" currencyMask [(ngModel)]="product.price" required [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
  </div>
  <div class="mb-3 row g-2">
    <div class="col-auto">
      <label for="formFile" class="form-label">Imagem</label>
    <input class="form-control form-control-sm" name="formFile" id="formFile" type="file" required (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg">
    </div>
    <div class="col-auto">
      <img *ngIf="product.image" [(src)]="product.image" class="rounded float-end logo-product">
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary" [disabled]="!create.valid">Cadastrar</button>
  </div>
</form>
